$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.search{
  width: 100%;
  display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.form-search {
  position: relative;
  // padding: 15px 0 0;
  margin-top: 10px;
  display: flex;
	align-items: center;
	justify-content: center;	
  width: 100%;	
  flex-wrap: wrap;
  
}

.search-input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 15px 0 2px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .search-label {
    font-size: 1.3rem;
    cursor: text;
    top: 10px;
  }
}

.search-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
  pointer-events: none;
}

.search-input:focus {
  ~ .search-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  // padding-bottom: 6px;  
  // font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}

/* reset input */
.search-input{
  &:required,&:invalid { box-shadow:none; }
}

.search-btn {
  color: $primary;
  position: absolute;
  right: 4px;
  top: 12px;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-field{
  display: flex;
  position: relative;
  width:100%;
}

.search-icon{
  display: flex;
  width:2px;
}

.store-filter{
  width: 230px;
  background-color: #11998e;
  min-height: 50px;
  display: inline-block;
}

.search-tools-item{
  // background-color: #38ef7d;
  width: 280px;
  height: 60px;
  margin: 10px;
  display: block;
  // background-color: red;
}

.filter-select{
  padding-top: 15px;
  width: 100%;
  color: black;
  float: right;
}

.filter-select button{
  background-color: transparent !important;
  color: #9b9b9b;
  font-weight: 600;
  // color: #11998e;
  border-radius: 5px;
}

.filter-select > :nth-child(1) > :nth-child(2){
  background-color: transparent !important;
  margin-top: 0 !important;
}

.filter-select input{
  display: none;
}

.rangeslider{
  background: #9b9b9b !important;
  margin-bottom: 0 !important;
  margin-top: 10px !important;
}

.slider-label{
  font-size: .8em;
  color: #9b9b9b;
  text-align: center;
  margin-top: 7px;
}

.rangeslider-horizontal{
  height: 8px !important;
}

.rangeslider__fill{
  background: linear-gradient(to right, #11998e, #38ef7d) !important;
  height: 8px !important;
}

.slider *{
  box-shadow: none !important;
}

.rangeslider__handle{
  width: 20px !important;
  height: 20px !important;
  background: #111 !important;
  border: 2px solid #11998e !important;
}

.rangeslider__handle:after{
  display: none !important;
}

