.paginacao {
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.lista{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1900px;
	flex-wrap: wrap;
	z-index: 0;	
  }
  .content{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }  

  .centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
  }