 .topnav {
 color: #333;
  overflow: hidden;    
  width: 100%;
  display: flex;
  /* background: linear-gradient(5deg,#9000EB, #4F02D6); */
  background: linear-gradient(5deg,#1d052c, #1b0641);
}

.content{ 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}  
li {
list-style-type: none;
}
.linknav{
  color:white;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  background-color: transparent;
}
.linknav::after{
  box-sizing: border-box;
}
.linknav::before{
  box-sizing: border-box;
}
.linknav:hover {
  color:black;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  background-color: transparent;
}

.nav-link {
  color: white;
}

.login-btn{
  width: 100%;
  height: 38px;
}